body,html {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    min-height: 600px;
    max-height: initial;
    margin: 0;
    font-family: "Open Sans", sans-serif, AppleGothic, "Century Gothic", CenturyGothic, "Helvetica" !important;
    /* -webkit-font-smoothing: antialiased; */
    /* -webkit-text-stroke: 1px rgba(0,0,0,0.1); */
}

.button {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #39c073;
    cursor: pointer;
}

/* Scroll bar styling */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(220,220,220,0.4); 
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220,220,220,0.9); 
}