body {
    background-image: url('/public/images/background-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

input[type=text],
input[type=email],
input[type=password] {
    border: 0;
    border-bottom: 1.5px solid #a2a2a2;
    padding: 0;
    margin: 8px 0;
    width: 230px;
    background-color: transparent;
    color: white;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: 0;
    border-color: #35a75f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.8;
}

.link:hover {
    color: #1f9eff;
    text-decoration: underline;
}

form {
    padding: 60px;
    background-color: rgba(49, 63, 81, 0.8);
    border-radius: 16px;
    box-shadow: -4px 5px 20px 4px rgba(0,0,0,0.2);
}