input[type=text],
input[type=email],
input[type=password] {
    border: 0;
    border-bottom: 1.5px solid #777;
    padding: 0;
    margin: 8px 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: 0;
    border-color: #35a75f;
}