/* Grid layout */
@supports (display: grid) {
    .main-grid > .grid-item {
        align-self: initial;
        justify-self: normal;
    }

}

@supports not (display: grid) {
    .main-grid > .grid-item {
        vertical-align: auto;
        text-align: unset;
    }
}

.main-grid {
    grid-template-rows: 40px 1fr 30px;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
    grid-template-areas: 
        "top-navbar top-navbar"
        "side-panel msg-panel"
        "footer     footer";
}

/* Top Navigation bar */
.top-navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: #5f9ab3;
}

.top-nav-grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logout {
    grid-column: 4 / 5;
    text-align: end;
}

.logout img{
    width: 40px;
    margin: 0 10px;
}

.selected-user {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.online-status {
    float:right;
    width:10px;
    height:10px;
    margin: -5px 10px 0 0;
    border-radius: 50%;
}

.online-status.online {
    background-color: #0fff0f;
}

.online-status.offline {
    background-color: red;
}
/* Side-panel -> Contact List */
.side-panel {
    border-right: 1px solid black;
    max-height: 592px;
}

.contact-list .contact:first-child {
    border-top: 1px solid #aba6a6;
}

.contact-list .contact {
    height: 30px;
    line-height: 30px;
    text-align: start;
    border-bottom: 1px solid #aba6a6;
}

.contact-list .contact .online-status {
    margin: 10px;
}

/** Searchbar **/
.search-bar {
    height: 15px;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 8px 0;
    background-color: transparent;
}

.search-bar:focus, .type-msg:focus {
    outline: 0;
    /* border-color: #35a75f; */
}

.search-result {
    z-index: 5;
    background-color: rgba(245, 245, 245, 0.9);
}

.search-result p {
    margin: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
}

/* Message Panel */
.msg-panel {
    background-color: #efefef;
    grid-template-rows: 1fr 40px;
}

.msgs {
    background-color: #e5ddd5;
    max-height: 552px;
    overflow: auto;
}

.msgs .msg {
    height: 40px;
    margin: 7px 0;
}

.msgs .msg > span {
    display: inline-block;
    padding: 7px 10px;
    border-radius: 8px;
}

.msgs .msg.self {
    text-align: end;
    right: 0;
}

.msgs .msg.self > span:first-child {
    text-align: start;
    background-color: #dcf8c6;
    margin-right: 10px;
}

.msgs .msg.received {
    left: 0;
}

.msgs .msg.received span {
    background-color: #ffffff;
    margin-left: 10px;
}

.msg-sender {
    grid-row: 2 / 3;
    width: 100%;
}

.msg.self.ack-received:after {
    content: '&#10004;';
    /* font-family: FontAwesome; */
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
}

.type-msg {
    font-family: "Open Sans", sans-serif, AppleGothic, "Century Gothic", CenturyGothic, "Helvetica" !important;
    resize: none;
    width: 83%;
    height: 20px;
    margin-bottom: -10px;
    border: 0;
    margin-left: 10px;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.send-btn {
    float: right;
    margin-right: 30px;
}

/* Footer */
.footer {
    grid-column: 1 / 3;
    background-color: #5f9ab3;
}