/* Grid layout */
@supports (display: grid) {
    .main-grid > .grid-item {
        align-self: initial;
        justify-self: normal;
    }

}

@supports not (display: grid) {
    .main-grid > .grid-item {
        vertical-align: auto;
        text-align: unset;
    }
}

.main-grid {
    grid-template-rows: 40px 1fr 30px;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
    grid-template-areas: 
        "top-navbar top-navbar"
        "side-panel msg-panel"
        "footer     footer";
}

/* Top Navigation bar */
.top-navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: #5f9ab3;
}

.top-nav-grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  "search-bar . . .";
}


/* Side-panel -> Contact List */
.side-panel {
    border-right: 1px solid black;
}

/** Searchbar **/
.search-bar {
    height: 15px;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 8px 0;
    background-color: transparent;
}

.search-bar:focus {
    outline: 0;
    /* border-color: #35a75f; */
}

/* Message Panel */
.msg-panel {
    background-color: #efefef;
}

/* Footer */
.footer {
    grid-column: 1 / 3;
    background-color: #5f9ab3;
}